/******************************************************************************
 * Content
 ******************************************************************************/

/** particles **/
/* ---- reset ---- */

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  
  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

canvas {
  display: block;
  vertical-align: bottom;
}

/** Positioning for particles-js container **/
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
}

/** Positioning for main content container **/
.container {
  max-width: 600px;
  position: relative;
  width: 90%;
  margin: auto;
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
